:root{
    --primary: hsl(156.4,66.5%,62.5%);
    --dark-primary: hsl(156.4,63.8%,39.3%);
    --white: hsl(156.4,0%,86.8%);
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    z-index: 0;
}
nav{
    display: flex;
    position: relative;
    background-color:var(--primary);
    z-index: 100;
}
.inside{
    margin: 20px;
}
ul{
    display: flex;
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul li{
    font-weight: 700;
    font-size: 1.5rem;
    height: 40px;
    position: relative;
}
.tag{
    position: relative;
    margin: 20px;
    top:5px;
}
ul li, .brandName{
    color: var(--white);
}

ul li:hover{
    background-color: var(--dark-primary);
    border-radius: 5px;
}

.menu{
    position: absolute;
    right: 20px;
    top: 19px;
    display: none;
}
.close{
    position: absolute;
    right: 20px;
    top: 19px;
    display: none;
}
@media (min-width: 789px) and (max-width: 899px) {
    .brandName{
        
    }
    nav{
        /* height: 60px; */
    }
    ul{
        top: 20%;
        right: 0%;
        transform: translate(0%);
    }
    .menu{
        display: none;
    }
    
}
@media (min-width:400px) and (max-width:788px){
    body{
        background-color:white;
    }
    nav{
        position: static;
    }
    ul{
        flex-direction: column;
        display: none;
        
    }
    .middle{
        position: relative;
        left:25px;
    }
    
    .menu{
        display: block;
    }
}